@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Произошла ошибка.</h1>
<h2 class="text-danger">Во время обработки запроса возникла непредвиденная ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    В режиме <strong>Development</strong> отображается более подробная информация об ошибке.
</p>
<p>
    <strong>Не включайте режим Development на рабочем сервере.</strong>
    Это может привести к отображению конфиденциальной информации пользователям.
</p>
