@model DropThisSite.Models.Supplier

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактировать</h1>

<h4>Бренд</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSupplier" />
            <div class="form-group">
                <label asp-for="NameSupplier" class="control-label"></label>
                <input asp-for="NameSupplier" class="form-control" />
                <span asp-validation-for="NameSupplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneSupplier" class="control-label"></label>
                <input asp-for="PhoneSupplier" class="form-control" />
                <span asp-validation-for="PhoneSupplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailSupplier" class="control-label"></label>
                <input asp-for="EmailSupplier" class="form-control" />
                <span asp-validation-for="EmailSupplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
