@model DropThisSite.Models.Stone

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактировать</h1>

<h4>Камень</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdStone" />
            <div class="form-group">
                <label asp-for="NameStone" class="control-label"></label>
                <input asp-for="NameStone" class="form-control" />
                <span asp-validation-for="NameStone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorStone" class="control-label"></label>
                <input asp-for="ColorStone" class="form-control" />
                <span asp-validation-for="ColorStone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightStone" class="control-label"></label>
                <input asp-for="WeightStone" class="form-control" />
                <span asp-validation-for="WeightStone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
